@media screen and (max-width:600px) {
    header {
        margin: 0 auto;
        padding: 0;

    }


    .form {
        flex-direction: column;

    }

    .nav-title {
        font-size: 14px;
    }

    .nav-menu {
        display: none;
    }

    .hum-burger {
        display: block;
    }

    .nav {
        margin-bottom: 125px;
        /* gap: 10px; */
        padding: 0 10px;
    }

    .banner {
        max-width: 100%;
        height: 500px;
        background-size: cover;
        /* object-fit: cover; */
        background-attachment: fixed;
        background-position: center;


    }

    .banner .banner-title {
        font-size: 20px;
        padding-top: 20px;
    }

    .banner .banner-description {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 15px;
        /* margin: -35px; */


    }

    .form {
        gap: 16px;
        height: 170px;
        width: 255px;
        margin: 50px 100px;
        padding: 0;
        align-items: center;

    }

    .form button {
        padding: 10px;
    }

    .form .btn-white {
        width: 255px;
        align-items: center;
        padding-left: 0;

    }

    .form .btn-orange {
        width: 255px;
        align-items: center;
        padding-left: 0;
    }

    /* why choose us section  */
    .why-choose-us-header h2 {
        font-size: 20px;
        padding-top: 20px;
    }

    .why-choose-us-header p {
        text-align: center;
        font-size: 14px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-row1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 335px;
        height: 289px;
        padding-left: 10px;
        margin-top: 20px;
    }

    .card-1  {
        margin-left: 0px;
        padding-top: 40px;
    }
    .card-2{
        margin-right: 0px;
        padding-top: 40px;
    }
    .card-3 {
        margin-left:0px ;
        margin-bottom:50px ;
    }
    /* deal and discount */
    .deal-and-discount img{
        width: 100%;
        height: 300px;
    }
    .deal-and-discount-header h3{
        font-size: 20px;

    }
    .deal-and-discount-header p{
    padding-left:40px ;
    padding-right:40px ;
    padding-bottom: 40px;
    font-size: 14px;
    }
    .discount-card {  
       width: 330px;
       top:203px;
       left:23px;}
    
       .discount-card-2{  
       width: 339px;
       height: 250px;
       top:522px;
       left:17px;
           
       }
       .discount-card-3{  
       width: 330px;
       height: 250px;
       bottom:21px;
       left: 25px;
           
       }
    /* our popular tour section style */

    main {
        margin: 0px;
    }

    .popular-tour {
        flex-direction: column;
        margin: 0;
        gap: 40px;
    }

    .popular-tour .text-part {
        width: 80%;
        margin: 50px auto;

    }

    .popular-tour .img-part {
        width: 100%;
        margin: 0px;

    }

    .popular-tour-title,
    .destination-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .description {
        font-size: 16px;

    }
    /* destination section style  */
    .destination h3{
        color: #131318;
    text-align: center;
    font-size: 20px;
    }
    
    .destination p{
    font-size: 14px;
    padding-top: 30px;
    padding-left:50px ;
    padding-right:50px ;
    
    }
    .gallery {
        grid-template-columns: repeat(1, 1fr);
      }
    
/* A simple perfect place section  */
    .simple-perfect-place {
        flex-direction: column;
        margin: 0px;
        gap: 30px;
    }

    .simple-perfect-place-text {
        width: 80%;
        font-size: 20px;
    }

    .simple-perfect-place-title {
        font-size: 20px;
    }

    .simple-perfect-place-description {
        font-size: 16px;
        margin: auto;
        padding-bottom: 20px;
    }

    .simple-perfect-place-img {
        width: 100%;
    }

    /* news-letter section style */
    .news-letter {
        flex-direction: column;
    }

    /* .news-letter-text {
    width: 30%;
    margin: 0px auto; 
} */
    .news-letter-img {
        width: 80%;
    }

    .discount {
        width: 185px;
        height: 79.268px;
        font-size: 18px;
        position: absolute;
        top: 47%;
        left: 30%;

    }

    .discount-p {
        font-size: 15.854px;
    }

    /* footer stye  */
    .footer-container {
        margin: 20px;
    }

    .footer-description {
        padding: 30px 40px;
    }
}